.w600 {
    width: 600px;
}

.download-button {
    color: #ffffff;
    background: #28a745;
    border: 1px solid #28a745;
    font-family: "Fira Sans";
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    border-radius: 4px;
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    text-decoration: none;
}